<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073232408069-s4cdck8oc6nttfrnuffjveduh0ng9via.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073232408069-s4cdck8oc6nttfrnuffjveduh0ng9via</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1073232408069-87gjm6qq7u3clv6aim5t59dlfcrjd1ho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAZvaHbdQzHRZ36wrcONsr0aBRV9FB8es</string>
	<key>GCM_SENDER_ID</key>
	<string>1073232408069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.rdg.will</string>
	<key>PROJECT_ID</key>
	<string>webeo-maps</string>
	<key>STORAGE_BUCKET</key>
	<string>webeo-maps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073232408069:ios:110888f1a2d0f3b463b66c</string>
	<key>DATABASE_URL</key>
	<string>https://webeo-maps.firebaseio.com</string>
</dict>
</plist>