<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246003170047-vk3tduk0ggffrdp1h84bo8kdmd0inhdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246003170047-vk3tduk0ggffrdp1h84bo8kdmd0inhdb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246003170047-11j2lq1jk2cp8u3fpi789fsn030gimk7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSJBcn-YcHEZlRpWV0kmmwOZL0Y5Z8GIA</string>
	<key>GCM_SENDER_ID</key>
	<string>246003170047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.rdg.will</string>
	<key>PROJECT_ID</key>
	<string>agencia-de-viajes-warzsud</string>
	<key>STORAGE_BUCKET</key>
	<string>agencia-de-viajes-warzsud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246003170047:ios:6be15dda19291d102aaaca</string>
	<key>DATABASE_URL</key>
	<string>https://agencia-de-viajes-warzsud.firebaseio.com</string>
</dict>
</plist>